<head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="https://scontent.fsyd3-1.fna.fbcdn.net/v/t1.0-9/26169458_1648009871903687_7873999162699072143_n.jpg?_nc_cat=103&_nc_ht=scontent.fsyd3-1.fna&oh=180d571a17a85c6e3a6ae38280d5a146&oe=5C724C06"><!--icon-->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <title>{{pagetitle}}</title>
    </head>