<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  
  <a class="navbar-brand order-sm-2 order-2" href="#">Navbar</a>
  
  <button class="navbar-toggler order-sm-1 order-1" type="button" data-toggle="collapse" data-target="#navcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="flex-fill order-sm-3 order-3">
    <form class="form-inline my-2 my-lg-0 justify-content-center flex-nowrap">
      <input class="form-control mr-sm-2 flex-sm-grow-1 flex-md-grow-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="user-nav d-flex flex-row mx-2 order-4">
    {% if user %}
      Hello {{user.username}}
    {% endif %}
  </div>
  <div class="collapse navbar-collapse flex-grow-0 order-sm-5 order-5" id="navcollapse">
    <div class="navbar-nav ml-auto">
      {% for name, link in pages %}
        <a class="nav-link text-capitalize text-secondary {{(link == currentPage) ? 'active' : '' }}" href="{{link}}">{{name}}</a>
      {% endfor %}
    </div>
  </div>
</nav>